*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--back-dark: #1f223d;
	--back-light: #333057;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
}

.home_page {
	background-color: var(--back-dark);
}

.home_page,
.resume_page {
	font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
	background-color: var(--back-light);
}

.navbar-nav .nav-item {
	margin-right: 1.2rem;
}

.nav-item .active {
	background-color: var(--back-dark);
}

.nav-link {
	border-radius: 5px;
	font-weight: 700;
	font-size: 1.15rem;
}

.nav-link:hover {
	background-color: var(--back-dark);
}

/* for tabs */
@media screen and (max-width: 1000px) {
	.navbar-nav .nav-item {
		margin-right: 1rem;
	}

	.nav-link {
		font-size: 1.1rem;
	}
}

/* for mobiles */
@media screen and (max-width: 768px) {
	.navbar-nav .nav-item {
		margin-right: 0;
	}
}
